body{
    background-color: antiquewhite;
}
#logo{
    position:relative;
    top:0;
    left:0;
}
h1{
    color:crimson;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
